.page-heading {
  margin-bottom: 20px;

  span {
    font-family: Neue Haas Grotesk Display Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.4px;
    background: -webkit-linear-gradient(60deg, #E46735, #C93250, #CA488C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


