.order-state-container {
  flex: 1;

  .order-state-message {
    font-size: 15px;
    color: #8E8E93;
    margin-top: 10px;

    .highlight {
      color: white;
      font-weight: 600;
    }
  }

  .value-group-row {
    display: flex;
    margin-bottom: 20px;
  }
}
