.footer-container {
  //background-color: red;
  height: 116px;
  margin-top: 26px;
  border-top-style: solid;
  border-color: #1C1C1D;
  border-width: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
}


