.custom-input-group-container {
  margin-bottom: 20px;

  .custom-input-label-container {
    margin-bottom: 10px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Neue Haas Grotesk Display Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;

    .custom-input-label {
      color: #F75C1A;
    }

    .custom-input-fiat-conversion {
      text-align: right;
      color: #8E8E93;

      .decimal {
        opacity: 0.5;
      }
    }
  }

  .custom-input-container {
    background-color: #1C1C1D;
    border-radius: 10px;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0px 18px;

    .custom-input {
      height: 100%;
      background-color: transparent;
      border-style: none;
      margin-right: 10px;
      color: white;
      font-family: Neue Haas Grotesk Display Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      width: 50%;
      flex: 3;
    }

    .custom-input-append-container {
      text-align: right;

      .custom-input-append {
        color: #F7931A;
        font-family: Neue Haas Grotesk Display Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        text-align: right;
        margin-right: 10px;
        white-space: nowrap;
      }
    }
  }
}
