.claim-channel-container {

  .claim-channel-title {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 15px;
    color: #F75C1A;
    margin-bottom: 12px;
  }

  .claim-channel-top {
    display: flex;

    .claim-channel-qr {
    }

    .claim-channel-details {
      padding-left: 20px;
      overflow: hidden;

      .claim-channel-address {
        font-size: 15px;
        color: #8E8E93;
      }

      .claim-channel-button-spacer {
        margin-top: 21px;
      }
    }
  }

  .claim-channel-middle {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    .claim-channel-middle-value {
      font-size: 21px;
      color: #FFFFFF;

      .claim-channel-middle-value-icon {
        margin-right: 13px;
      }
    }
  }

  .claim-channel-bottom-message {
    font-size: 15px;
    color: #8E8E93;
    margin-top: 20px;

    .highlight {
      color: white;
      font-weight: 600;
    }
  }
}
